LINE_BOT_CHANNEL_ACCESS_TOKEN=your_channel_access_token
LINE_BOT_CHANNEL_SECRET=your_channel_secret
GOOGLE_MAPS_API_KEY=your_google_maps_api_key
GOOGLE_GEMENI_API_KEY=your_google_gemeni_api_key
IMAGE_BASE_URL=your_image_base_url
LIFF_ID_FORM="your_liff_id_form"